*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-color: #3EA097;
    --secundary-color: #3FB4A9;
}
header{
    width: auto;
    min-height: 30px;
    height: 50px;
    background-color: var(--primary-color);
    /*-webkit-transform: rotate(10deg);
    -ms-transform: rotate(1deg);
    transform: rotate(-4deg);*/
}
main{
    text-align: center;
}
.title-feeling{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 30px 0;
}
.main-feeling{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;  
}
.icon-feeling-section p{
    font-size: 2rem;
    font-weight: 600;
}
footer{
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    min-height: 30px;
    background-color: var(--primary-color);
}